<launch>
    <node pkg="tf" type="static_transform_publisher" name="typhoon_h480_0_map_to_world"
    args="0.0 0.0 0 0.0 0.0 0.0 /map /world 40" />
    <node pkg="tf" type="static_transform_publisher" name="typhoon_h480_0_world_to_ground_plane"
    args="0.0 0.0 0 0.0 0.0 0.0 /world /ground_plane 40" />
</launch>
